<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>

<body>
<nav th:replace="~{/fragments/navbar}">
</nav>

<main class="section-container">
    <div class="container">
        <div class="inner-container-groups bg-white d-flex flex-row gap-5">
            <div>
                <img th:src="@{/images/women.jpg}" alt="women" height="500px">
            </div>
            <div>
                <ul class="list-unstyled">
                    <li th:each="product : ${womenProducts}">
                        <a class="text-dark text-decoration-none"
                           th:text="${product.getProductGroupName()}"
                           th:value="${product.getProductGroupName()}"
                           th:href="@{/ЖЕНИ/{group}(group=${product.getProductGroupName()})}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{/fragments/footer}">
</footer>
</body>
</html>